body {
	font-family: Arial;
	margin: 30px;
}

h1 {
	color: #D33381;
	border-bottom: black 3px dotted;
}

#examples {
	width: 380px
}

#examples img {
	border: 0;
	display: block;
	margin: 0 0 5px 0;
}

#examples img:first-child {
	float: left;
	margin-right: 5px;
}